###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/.env.local.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> ToskSh/tosk ###
.tosk*
tosk.json
.time-tracking
.marathon*
marathon.json
.vscode
.idea
.git-credentials
###< ToskSh/tosk ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###